<div class="wrapper">
  <div class="icon-close">
    <button class="btn" (click)="cerrar_modal()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="body-modal">
    <h1 class="title-modal">Editar Usuario</h1>
    <span class="descripcion">Estás a punto de editar este usuario y se generarán los cambios.</span>
    <div class="buttons-modal">
      <button mat-button class="btn-cancelar" (click)="cerrar_modal()">
        Cancelar
      </button>
      <button mat-button class="btn-confirmar" (click)="confirmarEdicion()">
        Editar
      </button>
    </div>
  </div>
</div>
